#container {
    width: 500px;
    background: black;
}

button {
    height: 50px;
    width: 100px;
}

.num {
    background-color: orange;
}

.op {
    background-color: blue;
    color: white;
}

input {
    height: 50px;
    width: 400px;
    text-align: right;
}